<attribute name="Properties">
  gov.nih.nci.cagwas.zip.properties=@EXTERNAL.CONFIG.DIR@/zip.properties
  gov.nih.nci.cagwas.mail.properties=@EXTERNAL.CONFIG.DIR@/mail.properties
  gov.nih.nci.security.configFile=@CSM_APPLICATION_CONFIG_FILE@
</attribute>