<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!--  Findings manager that is the major contact point for the middle tier services -->
	<bean id="findingsManager"
		class="gov.nih.nci.caintegrator.studyQueryService.germline.FindingsManager">
		<property name="objectQueryHandler" ref="objectQueryHandler" />
		<property name="snpAssociationFindingsHandler" ref="snpAssociationFindingsHandler" />
		<property name="subjectSearchHandler" ref="subjectSearchHandler" />
	</bean>
	
	<!--  Query handlers -->
	<bean id="objectQueryHandler"
		class="gov.nih.nci.caintegrator.studyQueryService.germline.ObjectQueryHandler">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="findingsHandler"
		class="gov.nih.nci.caintegrator.studyQueryService.germline.FindingsHandler" abstract="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="snpAssociationFindingsHandler"
		class="gov.nih.nci.caintegrator.studyQueryService.germline.SNPAssociationFindingsHandler" parent="findingsHandler">
	</bean>
	<bean id="genotypeFindingsHandler"
		class="gov.nih.nci.caintegrator.studyQueryService.germline.GenotypeFindingsHandler" parent="findingsHandler">
	</bean>
	<bean id="snpFrequencyFindingsHandler"
		class="gov.nih.nci.caintegrator.studyQueryService.germline.SNPFrequencyFindingHandler" parent="findingsHandler">
	</bean>
	<bean id="subjectSearchHandler"
		class="gov.nih.nci.caintegrator.studyQueryService.germline.SubjectSearchHandler" >
		<property name="sessionFactory" ref="sessionFactory" />		
	</bean>
	
	<!--  Criteria with the findings handlers injected into them -->
	<bean id="snpAssociationFindingsCriteria"
		class="gov.nih.nci.caintegrator.studyQueryService.dto.germline.SNPAssociationFindingCriteriaDTO" scope="prototype">
		<property name="handler" ref="snpAssociationFindingsHandler"/>
	</bean>
	<bean id="genotypeFindingsCriteria"
		class="gov.nih.nci.caintegrator.studyQueryService.dto.germline.GenotypeFindingCriteriaDTO" scope="prototype">
		<property name="handler" ref="genotypeFindingsHandler"/>
	</bean>
	<bean id="snpFrequencyFindingsCriteria"
		class="gov.nih.nci.caintegrator.studyQueryService.dto.germline.SNPFrequencyFindingCriteriaDTO" scope="prototype">
		<property name="handler" ref="snpFrequencyFindingsHandler"/>
	</bean>

	<!--  Definitions for transaction manager and declaritive transaction management -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<aop:config>
		<aop:pointcut id="serviceMethods"
			expression="execution(* gov.nih.nci.caintegrator.studyQueryService.germline.FindingsManager.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="serviceMethods" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"
				read-only="false" />
		</tx:attributes>
	</tx:advice>

</beans>