<!--L
  Copyright SAIC.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/cagwas/LICENSE.txt for details.
L-->

   <!-- Setup the configuration for the caGWAS log file -->
   <appender name="caGWAS_LOG" class="org.apache.log4j.FileAppender">
	<errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>
      <param name="File" value="${jboss.server.home.dir}/log/cagwas.log"/>
      <param name="Append" value="false"/>
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
	</layout>
   </appender>

   <!-- Set caGWAS logging level -->
   <category name="gov.nih.nci.cagwas">
	<priority value="INFO"/>
	<appender-ref ref="caGWAS_LOG"/>
   </category>