# Location to place zipped files
zip_location=@zip_location@
ftp_location=@ftp_location@
genotype_location=@genotype_location@

#hidden file prefix
filePrefix=@filePrefix@

# Thresholds for what type of file delivery to use (in MB unit)
ftp_threshold=@ftp_threshold@
ftp_anonBrowse_URL=@ftp_anonBrowse_URL@
ftp_secure_URL=@ftp_secure_URL@

# To include in the email
support_phone_number=@support_phone_number@

# JMS config
jboss_mq_url=@jboss_mq_url@

# CSM config
protection_element_prefix=@protection_element_prefix@
csm_application_name=@csm_application_name@

# Config of query history page
numberOfQueriesOnHistoryPage=@numberOfQueriesOnHistoryPage@

#Zipping type - use 2 for encryption, 1 for regular
zipper_type=@zipper_type@

#Timeout of MDB in seconds
image_zipping_mdb_timeout=@image_zipping_mdb_timeout@

#CDE Public ID Used to get the content type
cde_public_id=@cde_public_id@

#Date format
date_format=@date_format@

# Whether or not to run the new data flag update
runNewDataFlagUpdate=@runNewDataFlagUpdate@

# Hour to run the new data flag updater
hourToRunNewDataFlagUpdate=@hourToRunNewDataFlagUpdate@