.view-images {
 display: none;
}

td{
	background-image:none;
}

.view-text { 
	padding-top:7px;
	color:#ffffff;
	text-decoration:none;
	font-size:12px;
	width:700px;
}

.view-text a {
	color:#ffffff;
}
.view-text a:hover {
	color:#ffffff;
}
.view-text a:visited {
	color:#ffffff;
}

.left{ 
	float:left;
	text-align:left;
}
.right{
	float:right;
}

.title{
	font-size:14px; 
	font-weight:bold; text-decoration:none;
}

#nav_util{
	width:500px;
	left:160px;
}

#header{ 
	background-color:#01303d; 
	background-image:none;
 
}

.spotlight{
	background-image:none; 
}

.spotlight H1{ 
	background-color:#0e7b9b;
}

#nav #secondary_nav #secondary_bg{
 	background-image:none;
	background-color:#319ab9;
}

#nav #secondary_nav #secondary_bg_2{
 	background-image:none;
	background-color:#319ab9;
}

#nav #tert_nav #tert_bg{
 	background-image:none;
	background-color:#abe4f5;
}