# Project Name (Full)
project=@project@
# Project Acronym
acronym=@acronym@
# Mail server hostname
host=@host@
# From address for emails
fromAddress= {0} <do.not.reply@mail.nih.gov>

# Hostname and port of FTP server
ftpHostnameAndPort=@ftpHostnameAndPort@

# Number of days that files are retained for FTP
fileRetentionPeriodInDays=@fileRetentionPeriodInDays@

# Tech support information
techSupportNumber=@techSupportNumber@
techSupportURL=@techSupportURL@
techSupportStartTime=@techSupportStartTime@
techSupportEndTime=@techSupportEndTime@
techSupportMail=@techSupportMail@

# Request Email
userRequestMail=@userRequestMail@
userRequestCC=@userRequestCC@
request.Subject={0} ({1}) User Request
request.Body=The following information was submitted for a request to access the {0} portal.

# Register Email
register.Subject=Welcome to the {0} ({1})
register.Body=\nThank you for registering and welcome to the {4} {5}.\n\nYour user ID is {0}.\n\nFor technical support, please contact NCICB Application Support at ncicb@pop.nci.nih.gov or by phone at {1}.  Telephone support is available Monday to Friday between {2} and {3} U.S. Eastern time, excluding government holidays. Please do not reply to this email.  If you have received this email in error, please accept our apologies and ignore the email.\n\nRegards,\n{5} Team\n

# FTP Email
ftp.Subject={0} {1} - Your requested query results are available
ftp.Body1=\nThank you for using the {1} {2} data portal.  Your query results that you requested to download have been saved on our FTP server.  You can click the FTP URL(s) shown below to download the file(s) within {0} days of receiving this email.  After {0} days, the file(s) will be deleted from the caGWAS server. \n\n
ftp.Body2=Because of the amount of data you requested, several zip files have been created.  Each of the files must be downloaded separately.\n\n
ftp.Body3=File Name: {0}\nFTP URL: http://{1}/hid_download_cagwas/{0}\n\n
ftp.Body4=Please do not reply to this email.  If you need assistance with downloading, please contact NCICB Application Support ({4}).  Support via e-mail at mailto:ncicb@pop.nci.nih.gov or by phone at {0}.  Telephone support is available Monday to Friday between {1} and {2} U.S. Eastern time, excluding government holidays.   If you have received this email in error, please accept our apologies and ignore the email.\n\nRegards,\n{3} Team\n
ftp.Disclaimer=NOTE:Data Disclaimer goes here!
ftp.error.Subject={0} {1} - Your requested query was unable to complete
ftp.error.Body1=\nThank you for using the {1} {2} data portal.  Your query results were unable to be generated due to an error.\n\n
ftp.error.Body2=Please do not reply to this email.  If you need assistance, please contact NCICB Application Support ({4}).  Support via e-mail at mailto:ncicb@pop.nci.nih.gov or by phone at {0}.  Telephone support is available Monday to Friday between {1} and {2} U.S. Eastern time, excluding government holidays.   If you have received this email in error, please accept our apologies and ignore the email.\n\nRegards,\n{3} Team\n

# Feedback Email
feedback.mailTo=@feedback.mailTo@
feedback.mailSubject=@feedback.mailSubject@
feedback.features=@feedback.features@
feedback.template=You have received new feedback from a user.\n\nGeneral Feedback:\n{0}\n\nUsed Most:\n{1}\n\nUsed Least:\n{2} 

# Remote Plone Documents or localhost 
remote.url=@remote.url@
remote.about=@remote.about@
remote.update=@remote.update@
remote.registration=@remote.registration@
remote.prostate=@remote.prostate@
remote.breast=@remote.breast@
remote.glossary=@remote.glossary@
remote.contacts=@remote.contacts@
remote.cite=@remote.cite@
remote.citeExample=@remote.citeExample@
remote.access=@remote.access@
remote.openAccess=@remote.openAccess@
remote.controlledAccess=@remote.controlledAccess@