/*
Dark G = #02526B
Turquoise = #73DBFF
*/
BODY	{ color: #000000; font-size: 12px; font-family: verdana; margin-top: 5px; }
TABLE	{border: 0px; padding:0px; font-size:12px;}

h3	{
	font-size:14px;	
}
div#crumb {
	height:auto;
}

div.content { 
	background-color: #ffffff;
	width: 765px;
	padding: 0px;
	/*DEBUG*/
	/*border: 1px dashed black;*/
}

.btn, .buttonsBar input	{
	border-bottom:2px solid #02526B;
	border-right:2px solid #02526B;
	border-top:1px solid #02526B;
	border-left:1px solid #02526B;
	color: #02526B;
}
.buttonsBar input	{
	width:150px;
}

.sideBar {
	 background: /*#C5D1CF*/ #02526B;  
	 height:100%; 
	 vertical-align:top;
	 margin-left:0px; 
	 margin-right:0px; 
	 padding:5px;
	 border-color: #ffffff;
 }

#browseData, #bulkMain, .divMain	{
	/*border: 1px solid #00516B;*/
}

#browseData *,  #bulkMain *{
	margin-left:20px;	
}

.analysisDD, #abstractTxt, #abstractTxtHeader, #methodAbstractTxt1, #methodAbstractTxt2, #methodAbstractTxt3, #methodAbstractTxt4, #methodAbstractTxt5, #methodAbstractTxt6, #methodAbstractTxt7, #methodAbstractTxt8	{
	overflow-x:scroll;	
	overflow: -moz-scrollbars-horizontal;
}
 descriptionDD, #descriptionHeader, #descriptionTxt	{
	width: 520px;
}

#descriptionHeader	{
	background-color:silver;
	padding:5px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
}
#descriptionTxt	{

	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding:5px;
}
#abstractTxtHeader	{
	background-color:silver;
	padding:5px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
}
#abstractTxt, #methodAbstractTxt1, #methodAbstractTxt2, #methodAbstractTxt3, #methodAbstractTxt4, #methodAbstractTxt5, #methodAbstractTxt6, #methodAbstractTxt7, #methodAbstractTxt8	{

	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding:5px;
}
#searchAssocHeader, #searchPopHeader, #browseDataHeader, #bulkHeader, #feedbackHeader, .divHeader	{
	
	background-color:#02526B;
	color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	font-size:14px;
	width:100%;
	border:1px solid #02526B;
	text-align:left;
}
#searchAssocMain, #searchPopMain, #browseData, #bulkMain, .divMain	{
	border:1px solid #02526B;
	width:100%;
	padding:0px;
	padding-top:10px;

}
#searchAssocMain table, #searchPopMain table, .divMain table, #loginMain table, #loginMain div{
	padding:10px;	
}

.er	{
	color: red;	
}
.buttonsBar	{
	width:100%;
	text-align:center;
	margin-top:15px;
}
.queryTable	{
	
}
.queryTable td	{
	padding:5px;
	margin-top:5px;
}
	
.ur	{
	text-align:right;
	border-bottom: 1px solid #000;
	
	margin-left:25px;
	margin-right:25px;
}
.uc	{
	text-align:center;
	border-bottom: 1px solid #000;
	margin-left:25px;
	margin-right:25px;
}
.ul	{
	text-align:left;
	border-bottom: 1px solid #000;
	font-weight:bold;
	margin-left:5px;
	margin-right:25px;
}

 #crumb ul	{
 	padding:0px;
 	margin:0px;

 	background-color: #fff /*036*/;
	color: #00516B;
	float: left;
	width: 100%;
 }
#crumb li	{
	display: inline;
	/*
	list-style-type: none;
	padding-right: 20px;
	*/
}

#crumb ul li a, #crumb ul li b	{
	padding: 0.2em 1em;
	background-color: #fff /*#036*/;
	color: #00516B;
	text-decoration: none;
	float: left;
	border-right: 1px solid #00516B /*#fff*/;
	/*border-bottom: 1px solid #00516B;*/
}
#crumb ul li a:hover, #crumb ul li a.hTab	{
	background-color: #00516B;
	color: #fff;
}

#leftcolumn { width: 445px /*425px*/; border: 0px solid red; float: left; margin:3px}
#rightcolumn { width: 275px; border: 1px solid #00516B; float: right;margin:3px; background-color:#C9CDCC/*#949EA5;*/ }
.clear { clear: both;}

.message	{
	font-size:10px;
	font-weight:normal;
}

.e	{
	background-color: #eee;
}
.o	{
	background-color: #ccc;
}

.save {
	width:100px;height:20px;float:right;margin-right:20px;
	/* icon from famfamfam.com */
}